@import "bourbon/bourbon"
@import "sass/_vars"
@import "sass/_custom"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.25
	font-family: "RubikRegular", sans-serif
	overflow-x: hidden

.hidden
	display: none

.header
	position: relative
	background-image: url(../img/bg-header.jpg)
	background-repeat: no-repeat
	background-size: cover
	background-position: center bottom
	min-height: 985px
	&__substrate
		content: ''
		position: absolute
		background-image: url(../img/top-pattern.png)
		background-repeat: repeat
		background-position: 0 0
		width: 100%
		height: 100%
		left: 0
		right: 0
		bottom: 0
		top: 0
.nav
	width: 100%
	text-align: center
	display: -webkit-box
	display: -moz-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex
	-webkit-box-pack: justify
	-webkit-justify-content: space-between
	justify-content: space-between
	padding-top: 48px
	&__item
		display: block
		padding: 0 45px
		padding-top: 30px
	&__link
		font-size: 16px
		height: 34px
		display: block
		text-transform: uppercase
		font-weight: bold
		border-top: 1px solid transparent
		border-bottom: 1px solid transparent
		line-height: 32px
		letter-spacing: 0.7px
		color: #2b2828
		&:hover
			color: #6e6e6e
			border-top: 1px solid #6e6e6e
			border-bottom: 1px solid #6e6e6e
.logo
	display: block
	width: 200px
	height: 148px
	&__item
		position: relative
		padding-top: 0
.consultation
	padding-top: 172px
	&__title
		font-family: "MerriweatherBoldItalic", sans-serif
		font-size: 38.64px
		color: #2b2828
		text-align: center
		line-height: auto
		display: block
		padding-bottom: 34px
		position: relative
		&::after
			content: ''
			width: 70px
			height: 2px
			background-color: #6e6e6e
			position: absolute
			bottom: 0
			left: 0
			right: 0
			margin: 0 auto
	&__description
		color: #6d6e6e
		font-size: 24px
		display: block
		text-align: center
		padding-top: 32px
		font-family: "MerriweatherItalic", sans-serif
.scroll
	position: absolute
	bottom: 50px
	left: 0
	right: 0
	width: 100%
	text-align: center
	&__icon
		width: 20px
		height: 31px
		background-image: url(../img/icon/1.png)
		background-repeat: no-repeat
		background-position: center center
		display: inline-block
		cursor: pointer
.first
	min-height: 641px
	background-image: url(../img/first-bg.jpg)
	background-repeat: no-repeat
	background-size: cover
	background-position: center bottom
	padding-top: 42px
.briefly
	&__title
		font-size: 26px
		color: #2b2828
		font-family: "MerriweatherBoldItalic", sans-serif
		padding-bottom: 24px
		display: block
		position: relative
		&::after
			content: ''
			width: 70px
			height: 3px
			background-color: #56717a
			position: absolute
			left: 0
			bottom: 0
	&__list
		padding: 40px 0
	&__item
		display: block
		color: #2b2828
		font-size: 18px
		letter-spacing: 0.7px
		position: relative
		padding: 10px 0 10px 40px
		&::before
			content: ''
			width: 20px
			height: 20px
			border-radius: 50%
			position: absolute
			top: 11px
			left: 0
			background-color: #d2373e
			background-image: url(../img/icon/2.png)
			background-repeat: no-repeat
			background-position: center center
	&__description
		font-size: 14px
		letter-spacing: 0.4px
		color: #2b2828
		line-height: auto
		font-family: "RubikLight", sans-serif
.photo
	padding-top: 5px
	&__img
		width: 480px
		height: 480px
		display: block
		margin: 0 auto
.services
	padding-top: 39px
	&__item
		margin-bottom: 114px
		position: relative
		padding-bottom: 72px
		cursor: pointer
		&:hover
			.services__icon
				&::before
					background-color: #eee8dc
	&__icon
		width: 160px
		height: 160px
		border-radius: 50%
		background-color: #e1d3b8
		display: block
		background-repeat: no-repeat
		background-position: center center
		position: relative
		&::before
			content: ''
			width: 238px
			height: 238px
			border-radius: 50%
			display: block
			background-color: transparent
			position: absolute
			z-index: -2
			left: -39px
			top: -39px
			@include transition(all 0.5s ease-in-out)
	&__title
		color: #56717a
		display: block
		text-align: center
		font-family: "RubikMedium", sans-serif
		font-size: 20px
		letter-spacing: 0.7px
		text-transform: uppercase
		position: absolute
		top: 210px
		left: -64px
		right: -64px