@import "bourbon/bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
	.nav__item
		padding: 30px 38px 0
	.logo__item
		padding-top: 0
	.mason
		padding: 0
		&__item
			width: 303px
	.header-blog
		min-height: 434px !important
	.ament-first
		.services__item-active
			left: 28px
	.second
		.services__title
			width: 294px
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	.second
		.services__title
			width: auto
	.f-contact__wp
		display: none
	.header-top
		display: none
	.header-nav-mob
		background-color: #2b2828
		height: 50px
		position: absolute
		top: 0
		left: 0
		right: 0
		z-index: 9
	.nav-mob
		display: block
		height: 50px
		text-align: center
		.nav__item
			display: inline-block
			padding: 0
			margin: 0
			margin-left: 40px
			&:first-child
				margin-left: 0
		.nav__link
			color: #eee8dc
			line-height: 50px
			border:none
			display: block
			height: 50px
			&:hover
				border: none
				color: #6e6e6e
	.logo__wp
		padding-top: 95px
		.logo
			margin: 0 auto
	.consultation
		padding-top: 41px
	.scroll
		display: none
	.header
		min-height: 592px
	.photo
		width: 50%
		float: left
		&__img
			width: 100%
			height: auto
	.briefly__title-mob
		width: 50%
		float: right
		position: absolute
		right: 0
		top: 50%
		-webkit-transform: translateY(-50%)
		transform: translateY(-50%)
		.briefly__title
			display: block
			width: 146px
			margin: 0 auto
			&::after
				display: none
	.briefly__title,
	.services
		display: none
	.services__item
		margin-bottom: 0
		padding-bottom: 28px
	.services__title
		position: static
		display: block
	.services__icon
		margin: 0 auto
	.services__slider-name
		.slick-prev
			background-color: #e1d3b8
			border: medium none
			border-radius: 50%
			display: inline-block
			height: 20px
			position: absolute
			width: 20px
			text-indent: -9999px
			left: 0
			top: 50%
			-webkit-transform: translateY(-50%)
			transform: translateY(-50%)
			z-index: 2
			&:hover
				background-color: #1e2122
			&::after
				border-bottom: 4px solid transparent
				border-right: 9px solid #f9f6f1
				border-top: 4px solid transparent
				content: ""
				display: inline-block
				height: 0
				position: absolute
				right: 6px
				top: 50%
				transform: translateY(-50%)
				width: 0
		.slick-next
			background-color: #e1d3b8
			border: medium none
			border-radius: 50%
			display: inline-block
			height: 20px
			position: absolute
			width: 20px
			text-indent: -9999px
			z-index: 2
			right: 0
			-webkit-transform: translateY(-50%)
			transform: translateY(-50%)
			top: 50%
			&:hover
				background-color: #1e2122
			&::after
				border-bottom: 4px solid transparent
				border-left: 9px solid #f9f6f1
				border-top: 4px solid transparent
				content: ""
				display: inline-block
				height: 0
				position: absolute
				right: 6px
				top: 50%
				transform: translateY(-50%)
				width: 0
	.services__item-active
		display: none
	.second
		background-color: #fff
		padding: 30px 0
		margin-top: 26px
	.appointment__input,
	.appointment__button
		width: 70%
		display: block
		margin: 0 auto 20px
	.appointment__button
		width: 60%
		margin-top: 10px
		margin-bottom: 28px
	.appointment__form
		padding-top: 20px
	.services__slider
		.slick-list
			overflow: visible !important
	.advantages__img-wp
		height: 170px
		width: auto
		overflow: hidden
		padding: 0 !important
		margin-left: -15px
		margin-right: -15px
		position: relative
		.advantages__img
			position: absolute
			left: 0
			top: 50%
			right: 0
			width: 100%
			transform: translateY(-50%)
		.advantages__title
			position: absolute
			display: block !important
			left: 0
			right: 0
			top: 50%
			-webkit-transform: translateY(-50%)
			transform: translateY(-50%)
			z-index: 2
			text-align: center
		&::after
			content: ''
			position: absolute
			left: 0
			top: 0
			bottom: 0
			right: 0
			background-color: rgba(#e1d3b8,.75)
	.fourth
		padding-top: 0
	.advantages__title
		display: none
	.advantages
		padding-top: 0
		padding-left: 0 !important
	.advantages__properties
		padding-bottom: 16px
	.i-slider
		display: none
	.i-block
		.i-slider__item
			width: 100%
			margin: 0
			margin-bottom: 20px
			height: 129px
			&:hover
				-webkit-box-shadow: none
				-moz-box-shadow: none
				box-shadow: none
			&::before
				content: ''
				display: table
			&::after
				content: ''
				display: table
				clear: both
		.i-slider__img
			width: 145 * 100 / 450 + %
			height: 129px
			float: left
		.i-slider__wp
			float: right
			width: 305 * 100 / 450 + %
			padding: 0
			height: 129px
			padding-left: 30px
			position: relative
			.i-slider__row
				position: absolute
				bottom: 0
				left: 30px
				right: 0
	.interesting
		background-color: #fff
	.i-title__buttons
		display: none
	.footer
		height: auto
		.logo__item
			display: none
		.nav
			padding: 30px 0
		.nav__item
			padding: 0
	.logo-mob
		padding-top: 20px
		&__link
			width: 50px
			height: 64px
			display: block
			margin: 0 auto
		&__img
			width: 100%
			display: block
			height: 100%
	.mason
		&__item
			width: 100%
			padding-left: 0
			padding-right: 0
			padding-bottom: 0
			padding-top: 0
			margin-left: 0
			margin-right: 0
			&-1
				.mason__wp
					width: 100%
					padding-left: 25px
					padding-right: 25px
				.i-slider__row
					left: 25px
					right: 25px
			&-2
				.mason__wp
					width: 100%
					padding-left: 25px
					padding-right: 25px
				.i-slider__row
					left: 25px
					right: 25px
		&__img-wp
			width: 145 * 100 / 450 + %
			float: left
			position: relative
			overflow: hidden
			margin-left: 0
			margin-right: 0
			margin-bottom: 0
			height: 229px
		&__img
			width: auto
			height: 100%
			left: 50%
			-webkit-transform: translateX(-50%)
			transform: translateX(-50%)
		&__wp
			width: 290 * 100 / 450 + %
			float: right
			padding-top: 25px
	.subscribe
		padding-bottom: 25px
		.appointment__input
			width: 70%
			margin: 0 auto 20px
			float: none
		.appointment__button
			width: 70%
			margin: 0 auto
			float: none
	.i-slider__row
		position: absolute
		bottom: 24px
		right: 26px
		left: 35.555%
	.mason__description
		padding-bottom: 60px
	.header-blog
		min-height: 454px !important
	.header-contact
		min-height: 285px !important
	.c-maria__title
		font-size: 28px
	.map
		margin-left: -15px
		margin-right: -15px
	.contact
		padding-bottom: 40px
	.feedback
		padding-bottom: 0
	.feedback__input
		width: 100%
		float: none
	.feedback__textarea
		float: none !important
	.ui-selectmenu-button
		width: 70% !important
		margin: 0 auto !important
		float: none !important
	.feedback__button
		width: 70% !important
		float: none !important
		margin: 30px auto
	.metod__img-wp, .aboutme__title
		display: none
	.aboutme__title-mob
		position: relative
		padding-bottom: 16px
		&::before
			content: ''
			display: table
		&::after
			content: ''
			display: table
			clear: both
		.metod__img-wp
			display: block
			width: 50%
			float: left
		.aboutme__title
			padding: 0 20px
			display: block
			width: 50%
			float: right
			position: absolute
			right: 0
			top: 50%
			-webkit-transform: translateY(-50%)
			transform: translateY(-50%)
	.metod__block
		margin-left: -1%
		text-align: center
		&::before
			content: ''
			display: table
		&::after
			content: ''
			display: table
			clear: both
		.metod__item
			width: 49%
			float: left
			margin-left: 1%
			&:last-child
				margin-left: 0
				display: inline-block
				float: none
	.a-first
		padding-bottom: 8px
	.g-consultation__title
		text-align: center
	.a-effect
		padding-top: 0
	.a-eff
		margin-top: -20px
		.briefly__list
			padding-top: 0
	.g-consultation
		padding-right: 0
	.g-consultation__img-wp
		margin-bottom: 16px
	.g-consultation__img
		height: 100%
		display: block
		left: auto
		right: 0
		width: auto
		&-wp
			overflow-y: hidden
			overflow-x: visible
			margin-left: -15px
			margin-right: -15px
			width: auto
	.a-effect__img
		width: auto
		left: 0
		right: 0
		height: 100%
		&-wp
			overflow: hidden
			margin-left: -15px
			margin-right: -15px
			width: auto
			height: 260px
	.g-consultation__title
		font-size: 18px
	.g-consultation__img-wp-1
		margin-top: -20px !important
	.g-consultation__title-pc
			display: none
	.g-consultation__description-pc
		display: none
	.a-seventh
		padding-bottom: 0
		margin-bottom: -15px
	.aboutme__title
		font-size: 22px
	.art__title
		font-size: 28px
	.header-article
		height: 490px
	.archetype__img-wp
		float: left
		width: 30%
		height: 308px
		margin-left: -15px
	.archetype__img
		height: 100%
	.archetype__top
		padding-bottom: 10px
	.archetype__description-mob
		float: right
		width: 70%
		padding-top: 0
	.archetype__description
		padding-top: 5px
	.archetype
		padding-top: 0
	.archetype__img-wp-mob
		width: auto
		float: none
		margin-left: -15px
		margin-right: -15px
	.art-first
		padding-bottom: 0
	.hidden-serv
		display: none
	.i-consultations__title
		text-align: center
		font-size: 18px
	.i-consultations
		padding-bottom: 0
	.i-consultations__img
		right: 0
		left: auto
		&-1
			right: auto !important
			left: -200px !important
	.i-consultations__block
		padding-bottom: 0
	.i-consultations__block-title
		font-size: 16px
		padding: 8px 0
		&-1
			font-size: 16px
			padding: 8px 0
	.i-consultations__item
		font-size: 14px
	.i-consultations__description
		font-size: 14px
	.i-consultations__img-wp
		width: auto
		margin-left: -15px
		margin-right: -15px
	.g-cons__img-wp
		width: auto
		margin-left: -15px
		margin-right: -15px
		margin-top: 16px
	.g-cons__img
		width: 100%
	.zapnpr
		width: auto !important
		margin-left: -15px
		margin-right: -15px
		padding: 20px 16px !important
	.ament-third
		padding-bottom: 0
	.ament-second
		.a-effect__title
			font-size: 18px
	.g-cons__img
		height: 240px
		width: auto
	.d-situation__description
		padding-bottom: 20px
	.consultation__title
		font-size: 28px
	.consultation__description
		font-size: 18px
	.header-amenities
		height: 458px !important
	.b-third
		padding-bottom: 0
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.arrow-up
		display: none
	/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 670px)
	.services__slider-name
		.services__title
			padding-left: 30px
			padding-right: 30px
			font-size: 16px
			padding-top: 20px
	.ament-first
		.services__title
			padding-top: 3px
	/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 708px)
	.header-blog
		height: 489px !important
	/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 499px)
	.header-blog
		height: 524px !important
	/**/

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
	.header-nav-mob
		height: 100px
	.nav-mob
		height: 100px
		&::before
			content: ''
			display: table
		&::after
			content: ''
			display: table
			clear: both
	.nav__item
		width: 50%
		float: left
		margin-left: 0 !important
	.nav__link
		border: none !important
		&:hover
			border: none !important
	.logo__wp
		padding-top: 145px
	.header
		min-height: 690px
	.appointment__button,
	.appointment__input
		width: 100%
	.contacts__item a
		display: block
	.contacts__item span
		display: none
	.subscribe
		.appointment__button,
		.appointment__input
			width: 100% !important
	.header-contact
		min-height: 328px !important
	.contact__right
		width: 100%
	.contact__left
		width: 100%
	.ui-selectmenu-button
		width: 100% !important
	.feedback__button
		width: 100% !important
	.aboutme__title
		font-size: 18px
		line-height: 20px
	.metod__block
		margin-left: 0 !important
	.metod__item
		width: 100% !important
		float: none !important
		margin-left: 0 !important
	.header-blog
		height: 574px !important
	/**/

/* Extra Small Devices, Phones */
@media only screen and (max-width : 415px)
	.header-blog
		height: 609px !important
	/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 403px)
	.mason
		&__img-wp
			width: 100%
			float: none
			margin-right: -25px
		&__img
			width: 100%
			height: auto
		&__wp
			width: 100%
			float: none
			padding-left: 25px
			padding-right: 25px
		.i-slider__row
			left: 25px !important
			right: 25px
		.i-slider__time
			float: left !important
		.i-slider__name
			float: right !important
	.aboutme__title
		font-size: 16px
		padding-left: 0
	/**/

/* Custom, iPhone Retina */
@media only screen and (max-width : 400px)
	.i-slider__wp
		padding-left: 10px !important
	.i-slider__row
		left: 10px !important
	.i-slider__time
		display: block !important
		float: none !important
	.i-slider__name
		display: block !important
		float: none !important
	.i-block .i-slider__img
		height: auto
	.footer
		.nav
			display: block
			padding-bottom: 0
			&::before
				content: ''
				display: table
			&::after
				content: ''
				display: table
				clear: both
			&__item
				width: 50%
				float: left
				display: block
			.logo__item
				display: none !important
	/**/

/* Custom, iPhone Retina */
@media only screen and (max-width : 398px)
	/**/

/* Custom, iPhone Retina */
@media only screen and (max-width : 377px)
	/**/

/* Custom, iPhone Retina */
@media only screen and (max-width : 366px)
	.header-amenities
		height: 780px
	/**/

/* Custom, iPhone Retina */
@media only screen and (max-width : 339px)
	.services__slider-name
		.services__title
			padding-top: 38px
	.ament-first
		.services__slider-name
			.services__title
				padding-top: 20px !important
	/**/

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 500px)
	.g-consultation__img
		width: 100%
		height: auto
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 991px)
	.header-nav-mob
		display: none
	.logo__wp
		display: none
	.services__slider,
	.services__slider-name
		display: none
	.briefly__title-mob
		display: none
	.advantages__img-wp
		.advantages__title
			display: none
	.logo-mob
		display: none
	.i-block
		display: none
	.g-cons-mob
		display: none
	.aboutme__title-mob
		display: none
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

